.slides {
    direction: rtl;
}

@font-face {
    font-family: iranYekan;
    src: url('../assets/fonts/iranyekanwebregular.ttf');
}

@font-face {
    font-family: iranYekanBold;
    src: url('../assets/fonts/iranyekanwebbold.ttf');
}

body {
    font-family: iranYekan !important;
}

i {
    margin-right: 20px;
    margin-left: 20px;
}

section div {
    margin-top: 2rem;
}

.index {
    text-align: start;
    font-size: 2rem;
}

.index .item {
    margin-top: 3rem;
}

.active {
    color: black;
    font-size: 3rem;
}

.vertical-line {
    border-left: 6px solid #76D7C4;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 25%;
}